<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<main>
    <div class="app-container">
        <nav>
            <div class="nav-container"><img src="/contentful.svg" width="157" height="32">
                <ul>
                    <li><a href="/products" data-nav>Products</a></li>
                    <li><a href="/brands" data-nav>Brands</a></li>
                    <li><a href="/categories" data-nav>Categories</a></li>
                </ul>
            </div>
        </nav>